@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap');

:root {
  // Colours

  --clr-border: hsl(200, 6%, 91%);
  --clr-btn: hsl(180, 11%, 7%);

  --logo-black: var(--clr-primary);

  // Font family

  --ff-primary: "Inter", san-serif;

  // Font sizes

  --fs-300: 1rem; // view project
  --fs-400: 1.125rem; // p
  --fs-500: 1.25rem; //subtitles of main headings + project name
  --fs-600: 2.125rem; // h2
  --fs-700: 2.425rem; // main heading

  // Font weights

  --fw-200: 200;
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;

  // Max container

  --max-width: 74.75rem;

  --corners: 9px;

  --nav-border: 2px solid var(--clr-border);
  --btn-border: 2px solid var(--clr-btn);

  @media (min-width: 50em) {
    --fs-500: 1.625rem; //subtitles of main headings + project name
    --fs-600: 3rem; // h2
    --fs-700: 6rem; // main heading
  }
}

// Colors for light mode

:root[data-color-mode="light"] {
  --clr-primary: hsl(180, 11%, 7%);

  --clr-accent-300: hsl(182, 63%, 68%);
  --clr-accent-400: hsl(183, 100%, 31%);
  --clr-border-btn: hsl(183, 100%, 15%);

  --clr-base: hsl(0, 0%, 100%);
  --badge-shadow: 0px 8px 24px rgb(16, 20, 20, 0.2);
  --drop-shadow: drop-shadow(0px 2px 5px rgb(16, 20, 20, 0.2));
  --code: hsl(214, 32%, 91%);
}

// Colors for dark mode

:root[data-color-mode="dark"] {
  --clr-primary: hsl(0, 0%, 93%);

  --clr-accent-300: hsl(183, 100%, 31%);
  --clr-accent-400: hsl(182, 63%, 68%);
  --clr-border-btn: hsl(182, 63%, 34%);

  --clr-base: hsl(0, 0%, 24%);

  --badge-shadow: 0px 8px 24px rgb(16, 20, 20, 0.6);
  --drop-shadow: drop-shadow(0px 2px 5px rgb(16, 20, 20, 0.6));

  --code: hsl(218, 17%, 35%);
}

// Animestudio page unique colors

:root[data-color-mode="light"] .animestudio-colors {
  --clr-accent-400: hsl(256, 78%, 53%);
  --clr-accent-300: hsl(256, 79%, 81%);
  --fg: hsl(180, 11%, 7%);
  --clr-btn: hsl(180, 11%, 7%);
  --clr-border-btn: hsl(256, 78%, 53%);

  --bg: hsl(0, 0%, 100%);
}

:root[data-color-mode="dark"] .animestudio-colors {
  --clr-accent-400: hsl(256, 79%, 81%);
  --clr-accent-300: hsl(256, 79%, 71%);
  --clr-border-btn: hsl(256, 78%, 53%);
}

// Bargaintravels page unique colors

:root[data-color-mode="light"] .bargaintravels-colors {
  --clr-accent-400: hsl(359, 93%, 65%);
  --clr-accent-300: hsl(359, 94%, 76%);
  --fg: hsl(180, 11%, 7%);
  --clr-btn: hsl(180, 11%, 7%);
  --clr-border-btn: hsl(359, 93%, 65%);
  --bg: hsl(0, 0%, 100%);
}

:root[data-color-mode="dark"] .bargaintravels-colors {
  --clr-accent-400: hsl(359, 94%, 76%);
  --clr-accent-300: hsl(359, 94%, 66%);
  --clr-border-btn: hsl(359, 93%, 65%);
}

// Easybank page unique colors

:root[data-color-mode="light"] .easybank-colors {
  --clr-accent-400: hsl(136, 63%, 41%);
  --clr-accent-300: hsl(0, 0%, 100%);
  --fg: hsl(180, 11%, 7%);
  --clr-btn: hsl(180, 11%, 7%);
  --clr-border-btn: hsl(136, 63%, 41%);
  --bg: hsl(0, 0%, 100%);
  --clr-accent-300: hsl(136, 65%, 71%);
}

:root[data-color-mode="dark"] .easybank-colors {
  --clr-accent-400: hsl(136, 65%, 71%);
  --clr-accent-300: hsl(136, 65%, 61%);
  --clr-border-btn: hsl(136, 65%, 34%);
}

