.container {
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width, 74.75rem);
}

// this basically means that if there is a sibling (2nd sib) before that sibling (1st sib) then sibling (2nd) gets a margin-top

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  display: flex;
  flex-direction: column;

  @media (min-width: 50em) {
    flex-direction: row;
  }
}

.split > * + * {
  margin: var(--split-spacer, 2rem) 0 0 0;

  @media (min-width: 50em) {
    margin: 0 0 0 var(--split-spacer, 2rem);
  }
}

.split > * {
  flex-basis: 100%;
}

// To have more space in areas that can be reused

.spacer {
  margin-top: var(--spacer, 3rem);

  @media (min-width: 50em) {
    margin-top: var(--spacer, 3rem);
  }
}

.text-accent {
  color: var(--clr-accent-400);
}

.text-pink {
  color: hsl(0, 100%, 93%);
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
  z-index: 999;
}

.shadow {
  box-shadow: var(--badge-shadow);
}

.phone-mockup {
  max-height: 25rem;
}

code {
  background-color: var(--code);
  color: var(--clr-primary);
  padding: 0.2rem 0.4rem;
}

.tag {
  display: inline-block;
  font-size: var(--fs-300);
  margin-left: auto;
  margin-right: auto;
  font-weight: var(--fw-700);
  letter-spacing: 2px;
}

  // Dark mode toggle
  
  .theme-color {
    border: none;
    background-color: transparent;
  }

  :root[data-color-mode="light"] .light-hidden {
    display: none;
  }
  
  :root[data-color-mode="dark"] .dark-hidden {
    display: none;
  }
  
  :root[data-color-mode="dark"] .img {
    filter: contrast(0.8);
  }